server:
  config:
    persistence:
      default:
        sql:
          pluginName: "postgres"
          databaseName: "engram"
          connectAddr: "engram-prod-db.postgres.database.azure.com:5432"
    numHistoryShards: 32
  additionalEnv:
    - name: TEMPORAL_TLS_ENABLED
      value: "true"
    - name: TEMPORAL_TLS_REQUIRE_CLIENT_AUTH
      value: "true"
ui:
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
    hosts:
      - temporal.engram.work
    tls:
      - hosts:
          - temporal.engram.work
  additionalEnv:
    - name: TEMPORAL_AUTH_ENABLED
      value: "true"
    - name: TEMPORAL_AUTH_TYPE
      value: "basic"
    - name: TEMPORAL_AUTH_BASIC_USERNAME
      valueFrom:
        secretKeyRef:
          name: temporal-ui-basic
          key: username
    - name: TEMPORAL_AUTH_BASIC_PASSWORD
      valueFrom:
        secretKeyRef:
          name: temporal-ui-basic
          key: password
server:
  config:
    persistence:
      default:
        driver: "sql"
        sql:
          pluginName: "postgres"
          databaseName: "engram"
          connectAddr: "<postgres-host>:5432"
          user: "cogadmin"
          password: "${POSTGRES_PASSWORD}"
          tls:
            enabled: true
    global:
      membershipMaxJoinDuration: 30s
  replicas: 2

ui:
  replicas: 2
  auth:
    enabled: true
    type: basic
    basic:
      username: temporal
      password: "${TEMPORAL_UI_PASSWORD}"

workerServiceAccount:
  annotations:
    azure.workload.identity/client-id: "<worker-uai-client-id>"

